<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form action="" [formGroup]="form">
  <mat-form-field>
    <mat-label>File</mat-label>
    <mat-input-file formControlName="file">
    </mat-input-file>
    @if (form.controls['file'].hasError('required')) {
      <mat-error>
        File Its Required
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>comparation</mat-label>
    <mat-icon aria-hidden="false" matSuffix aria-label="Example home icon" fontIcon="home"></mat-icon>
    <input type="text" matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>number comparation</mat-label>
    <input type="number" matInput>
  </mat-form-field>

  <!--  <mat-input-number formControlName="number"></mat-input-number>-->

  <mat-picture-input formControlName="picture">

  </mat-picture-input>
  <button mat-raised-button color="primary" [disabled]="form.invalid"> Ok</button>
  <button mat-raised-button color="accent" (click)="console.log(form.getRawValue())">Show</button>

</form>
